body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(45deg, #f3ec78, #af4261, #12cad6);
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.App {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: inherit;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    margin: 20px 10px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
}

.language-select {
    background-color: #12cad6;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 20px 20px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


.language-select:focus {
    outline: none;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 700px;
    margin: 20px 10px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #164043;
}

.title:after {
    content: '👨🏼‍🍳';
    display: block;
    width: 100px;
    height: 5px;
    background-color: #12cad6;
    margin: 0px auto;
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #164043;
}

.ingredients-input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 20px 20px;
    color: #164043;
    padding: 10px;
}

.ingredients-input:focus {
    outline: 2px solid #12cad6;
}

.ingredients-input::placeholder {
    color: #164043;
}

.search-btn {
    background-color: #12cad6;
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 20px 20px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #24969f;
    transition: 0.4s;
}

.search-btn:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.recipe {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
    resize: none;
    height: 280px;

}

.status {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 20px 20px;
    color: #164043;
}

.error {
    color: red;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #12cad6;
}


